@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --gray1: rgb(7, 7, 7);
  --gray2: #242424;
  --gray3: #3d3c3c;
  --gray4: #616161;
  --gray5: #929292;
  --gray6: #aaaaaa;
  --gray7: #dadada;
  --gray8: #fffbfb;
  --green1: #081c15;
  --green2: #1b4332;
  --green3: #2d6a4f;
  --green4: #40916c;
  --green5: #52b788;
  --green6: #74c69d;
  --green7: #95d5b2;
  --green8: #b7e4c7;
  --green9: #d8f3dc;
  --seasalt: #f8f9faff;
  --antiflash-white: #e9ecefff;
  --platinum: #dee2e6ff;
  --french-gray: #ced4daff;
  --french-gray-2: #adb5bdff;
  --slate-gray: #6c757dff;
  --outer-space: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;
  --plus-black: #101214;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--plus-black);
  width: 100%;
  height: 500vh;
  position: relative;

}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 3rem;
  background-color: var(--eerie-black);
  border-bottom: 1px solid var(--green5);
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100;

}
#title-header {
  color: var(--green5);
  letter-spacing: 0.04rem;

}
.fa-solid{
    color: var(--green5);

}
#nav-header ul {
  list-style-type: none;
  display: flex;
  gap: 60px;
}
#nav-header ul a {
  text-decoration: none;
  color: var(--gray8);
  font-size: 1.15rem;
  letter-spacing: 0.04rem;
  border: 1px solid transparent;
  padding: 4px 8px;
  border-radius: 2px;
}
#nav-header ul .menu-item:hover {
  border: 1px solid var(--green5);
  transition: border, 0.6s;
}
.fa-brands:hover {
  transition: all, 0.6s;
  transform: scale(1.2);
  color: var(--green5);
}
#burguer{
    display: none;
}
@media screen and (max-width: 1040px) {
 
  #nav-header ul li{
    display: none;
    
  }
  #burguer{
    display: block;
    cursor: pointer;
    fill: var(--green5);
 
  }
  
}
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--green5);
    border-radius: 1.5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--green7);

}
::-webkit-scrollbar-track{
    background-color: var(--plus-black);
}
#main{
    height: 800px;
    position: relative;
    
}
#svg-developer{
    width: 50%;
    position: absolute;
    top: 80px;
    right: 0px;
}

#text-main-hero{
    position: absolute;
    color: var(--gray8);
    font-size: 1.5rem;
    top: 260px;
    left: 50px;
    width: 45%;
    letter-spacing: 0.04rem;

}
#text-main-hero p{
    line-height: 2rem;
    
}

#text-main-hero .text-green{
    color: var(--green5);
}
#div-dot-svg{
    display: flex;
    position: absolute;
    top: 420px;
    opacity: 0.04;
}
#div-btn{
    margin-top: 16px;
    display: flex;
    gap: 20px;
}
#div-btn button{
   padding: 0.8rem;
   border: none;
   border-radius: 5px;
   background-color: var(--green3);
   cursor: pointer;
   box-shadow: 1px 1px 8px var(--green5);
}
#div-btn button a{
    font-weight: 700;
    font-size: 1.15rem;
    text-decoration: none;
    letter-spacing: 0.04rem;
    color: var(--gray8);
}
#div-btn button:hover{
    background-color: var(--green5);
    transition: background-color, 0.6s;

}
#section-tecnologias{
    background: rgb(16,18,20);
    background: linear-gradient(90deg, rgba(16,18,20,1) 35%, rgba(33,37,41,1) 100%);
   position: relative;
   top: 120px;
   width: 100%;
   height: 660px;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

#div-decor-bar-top{
    width: 300px;
    height: 2px;
    border-radius: 8px;
    position: absolute;
    bottom: -40px;
    background-color: var(--eerie-black);
}
#div-decor-bar-mid{
    width: 200px;
    height: 2px;
    border-radius: 8px;
    position: absolute;
    bottom: -60px;
    background-color: var(--eerie-black);
}
#div-decor-bar-low{
    width: 100px;
    height: 2px;
    border-radius: 8px;
    position: absolute;
    bottom: -80px;
    background-color: var(--eerie-black);

}
#div-decor-bar-lower{
    width: 30px;
    height: 2px;
    border-radius: 8px;
    position: absolute;
    bottom: -100px;
    background-color: var(--eerie-black);

}

#section-tecnologias h1{
    padding-top: 40px;
    margin-bottom: 65px;
    height: 50px;
    font-size: 3.5rem;
    color: var(--green5);
    letter-spacing: 0.04rem;
}
#div-tecnologias{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    gap: 20px;

}
.card{
    width: 240px;
    border-bottom: 2px solid var(--green5);
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    
}
.card h2{
    color: var(--gray8);
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
}

.card p{
    color: var(--gray8);
    font-size: 0.9rem;
    letter-spacing: 0.04rem;

}
#section-projetos{
    position: relative;
    top: 250px;
    width: 50%;
    height: 15%;
    margin: 0px auto;
    border-left: 2px solid var(--eerie-black);
    border-right: 2px solid var(--eerie-black);
    border-radius: 8px;
    text-align: center;
}
#section-projetos h1{
    font-size: 3.5rem;
    letter-spacing: 0.04rem;
    color: var(--green5);
  
}
#div-section-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}
.div-text-projetos{
    background-color: var(--gray2);
    width: 30%;
    height: 100px;
}


#footer{
   background-color: var(--gray1);
    width: 100%;
    color: var(--gray7);
    padding: 3.25rem 3rem;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0px;   
    letter-spacing: 0.04rem;
}
#footer-div-contatos{
    
    text-align: left;
    border-right: 8px solid var(--green5);
    padding-right: 62px;
}
#footer-div-contatos p{
   margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#email{
    fill: var(--green5);

}
#whatsapp{
    fill: var(--green5);
}
#footer-div-contatos h1:hover{
    color: var(--green5);
}
#footer-div-desenvolvido {
    border-left: 8px solid var(--green5);
    padding-left: 62px;
}
#footer-div-desenvolvido p{
    margin-top: 20px;
}
#footer-div-desenvolvido p a{
    color: var(--green5);
}
#footer-div-desenvolvido p a:hover{
    color: var(--gray8);
}
#footer-div-desenvolvido:hover{
    color: var(--green5);

}
@media screen and (max-width: 765px) {
    #footer h1{
        font-size: 1.3rem;

    }
    #footer p{
        font-size: 0.9rem;
    }

}
@media screen and (max-width: 650px) {
   
    #footer h1{
        font-size: 0.9rem;
    }
    #footer p{
        margin: 0px;
        font-size: 0.6rem;
    }
    #email{
        display: none;
    }
    #whatsapp{
        display: none;
    }
    div p{
        padding-top: 5px;
    }
 
   

}
@media screen and (max-width: 515px) {
    #title-header{
        font-size: 1.4rem;
    }
    #footer{
        padding: 1.25rem 3rem;

    }
    #footer div{
        border: none;
        padding: 5px;
    }
 
}
.typing-text {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    transition: color 0.5s ease; /* Adiciona uma transição suave para a mudança de cor */
  }
  
  .last-letters {
    color: var(--green5); /* Altere a cor conforme necessário */
    transition: color 0.5s ease; /* Adiciona uma transição suave para a mudança de cor */
  }

box-icon[type="logo"]:hover{
    transform: scale(1.2);
    transition: all, 0.6s;

}  

